<%= stylesheet_link_tag 'game.css' %>
<h1>Jump</h1>
<canvas width="800" height="400" ></canvas>

<p>The rules are simple, use the <code>spacebar</code> to jump and try to reach the other side of the area.