
<h1 >Jump Or Die</h1>
<div id="whereItHappens">
	<canvas  id="canvas" width="800" height="400" ></canvas>
<p>The rules are simple, use the <code>spacebar</code> to jump and try to reach the other side of the area.</p>
<p>Use <code name="canvas">enter</code> to play or to pause the game.</p>
</div>
<%= audio_tag("theme.wav", :autoplay => false, :loop => true, :controls => false, :id => "audio") %>