<h1>Leaderboard</h1>
 <% nouveau = Score.new(:pseudo => @pseudo, :tries => @tries) %>
 <% nouveau.save %>
 <% score = Score.order("tries ") %>
 <% i=1 %>
  <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Pseudo</th>
                  <th>Number of tries</th>
                  <th>Date</th>
                </tr>
              </thead>
              <tbody>
                <% for s in score %>
                <tr>
                  <td><%= i %></td>
                  <td><%= s.pseudo %></td>
                  <td><%= s.tries %></td>
                  <td><%= s.created_at.strftime("%m/%d/%Y at %I:%M") %></td>
                </tr>
                <% i = i + 1 %>
                <% end %>
               </tbody>
            </table>

